# Global Env
ORG_NAME="Distict eduroam CA"
MAIL_DOMAIN="example.org"
PUBLIC_IP=1.1.1.1

# Traefik Info
ADMIN_EMAIL=admin@example.org

# Step CA Env
CA_PASSWD=xxxxx
SCEP_CHALLENGE=xxxx

# go-radNTLM
ADMIN_AUTH='admin:$2y$05$Ipt6lP/1edWvys7TLCTY4e6iVRcKSJYxxdlsl.GASsyyNM4PinyMC' # nix shell nixpkgs#apacheHttpd -c htpasswd -Bbn admin <yourpasswordhere>
TOKEN=xxxxxxxxxxxxxxxxxx
## you need one of the two following
#METADATA_URL=https://idp.example.org/simplesaml/saml2/idp/metadata.php
#METADATA_FILE=/metadata.xml # make sure to edit the docker compose to include this file

# FreeRADIUS Env
STUDENT_VLAN=1
STAFF_VLAN=1
GUEST_VLAN=1

## don't change unless you are providing a clients.conf manually
SETUP_CLIENTS=1

## client 1
RAD_CLIENT_1=wireless
RAD_CLIENT_1_SECRET=xxxxxx
RAD_CLIENT_1_ADDR=192.168.1.0/24

## eduroam servers
RAD_CLIENT_2=eduroam1
RAD_CLIENT_2_SECRET=xxxxxx
RAD_CLIENT_2_ADDR=tlrs1.eduroam.us
RAD_CLIENT_3=eduroam2
RAD_CLIENT_3_SECRET=xxxxxx
RAD_CLIENT_3_ADDR=tlrs2.eduroam.us

## eduroam Hotspot Config
SETUP_PROXY=1
EDUROAM_FLR1_IPADDR=tlrs1.eduroam.us
EDUROAM_FLR1_SECRET=xxxxxx
EDUROAM_FLR2_IPADDR=tlrs2.eduroam.us
EDUROAM_FLR2_SECRET=xxxxxx

# Logging - to enable / start, run `docker compose --profile elastic  up -d`
FLEET_URL=https://fleet.logs.example.org:443
FLEET_ENROLLMENT_TOKEN=xxxx
