name: Build & Push step-ca image

on:
  push:
    tags:
      - "stepca-v*.*.*" # only trigger for tags like stepca-v1.2.3

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # needed to push to ghcr.io

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version
        id: extract_version
        run: echo "VERSION=${GITHUB_REF_NAME#stepca-v}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./step-ca/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/stepca:${{ env.VERSION }}
            ghcr.io/${{ github.repository_owner }}/stepca:latest
